
@model List<WbeMovieUser.Models.Category>
<ul class="dropdown-menu" aria-labelledby="categoryDropdown">
    @if (Model != null && Model.Any())
    {
        foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item" style="text-decoration: none; border-bottom: none;" href="@Url.Action("Category", "Child", new { id = category.category_id })">
                    @category.category_name
                </a>
            </li>
        }
    }
    else
    {
        <li><a class="dropdown-item" href="#">Không có thể loại</a></li>
    }
</ul>